<div class="container-lg">
<section id="rental" class="row my-3 me-0">
    <div id="rental-pic" class="col-12 col-sm-6 px-0">
      <img src="./assets/img/rental-inside-out-view.jpg" id="rental-img" class="img-fluid" alt="motorhome view">

    </div>
    <div class="col-12 col-sm-6 d-flex align-items-center justify-content-center">
      <div id="rental-description">
        <h2>Rent with us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus repellendus dignissimos vero dolor, tempora voluptatibus nisi possimus ipsa quasi minus fuga ea rem magnam delectus doloremque nihil nobis, sit unde!</p>
        <button class="btn btn-outline-primary my-2"
                routerLink="/rental">Rent now</button>
      </div>
    </div>
  </section>

</div>
