.modal-dialog{
    position:absolute!important;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
}
.modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.75;
}

.modal-header{
    border-bottom: none!important;
}
.modal-footer{
    border-top:none!important;
}