<div class="row">
    <div id="title" class="col-12 mt-2">
      <h1>Motorhome Adventure</h1>
      <p class="text-center font-italic px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat earum natus fugit nostrum aut, atque at, veritatis maiores magnam accusantium minima quod ut architecto dolorum ullam ipsam culpa illo autem.</p>
    </div>
  </div>
  <section id="meet" class="row mt-3 px-5 pt-3">
    <div class="col-12">
    </div>
    <div class="col-12 col-md-6">
      <h2 class="text-center py-3">Partner with somebody for traveling</h2>
      <ul>
        <li>Families</li>
        <li>Couples</li>
        <li>Friends</li>
        <li>Individuals</li>
      </ul>
      <br>
      <button class="btn btn-outline-primary mx-2 my-sm-0">Register here</button>
      <button class="btn btn-outline-info mx-2 my-sm-0">Check out ads</button>
    </div>
    <div class="col-12 col-md-6 ps-5">
      <img class="img-fluid" src="./assets/img/meet-pic-round.png" alt="friends in campervan">
      </div>
    <div class="col-12 mt-2">
      <img class="img-fluid" src="./assets/img/logo-line-black.png" alt="" width="" height="">
    </div>
  </section>
