<section id="resources" class="row my-3 px-5 justify-content-around">
    <div class="col-12">
      <h2 class="text-center pb-3">Resources</h2>
    </div>
    <div class="col-12 col-md-4 text-center">
      <img class="mb-3" src="./assets/img/store.png" alt="Shops" width="80" height="auto">
      <h3>Specialised Shops</h3>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      <p><a class="btn btn-outline-primary my-2" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-12 col-md-4 text-center">
      <img class="mb-3" src="./assets/img/campground.png" alt="Stopovers" width="80" height="auto">
      <h3>Stopovers</h3>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur.</p>
      <p><a class="btn btn-outline-primary my-2" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-12 col-md-4 text-center">
      <img class="mb-3" src="./assets/img/bullhorn.png" alt="Events" width="80" height="auto">
      <h3>Related events</h3>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta.</p>
      <p><a class="btn btn-outline-primary my-2" href="#" role="button">View details &raquo;</a></p>
    </div>
  </section>
