<div class="container-lg margin-top-nav footer-to-bottom">
    <div class="col-6">
        <div class="row">
            <div class="col-6 pt-3 ps-3">
                <p class="mb-0">Posted by {{advert[0].fName}} {{advert[0].lName}}</p>
            </div>
            <div class="col-6 pt-3 mb-0 text-end pe-3">
                <p class="mb-0"><a href="mailto:{{advert[0].email}}">Contact member</a></p>
            </div>
            <div class="col-12 pt-0">
             <app-single-ad></app-single-ad>
            </div>
    
        </div>
    </div>
</div>
