<div class="row mt-md-2">
    <div class="col-12 pt-2">
        <label for="about">Post and advertisement to find a partner for your next adventure</label><br>
        <div class="input-group">
            <span class="input-group-text">Title</span>
            <textarea class="form-control"
                      rows="1"
                      cols="100"
                      #titleAd></textarea>
          </div>
        
            <textarea class="form-control"
                      style="border-top-width:0px"
                      rows="5" 
                      cols="100"
                      #bodyAd>
            </textarea>
        <button type="button"
                class="btn btn-info mt-3"
                (click)="postAd()">Post Ad</button>

                <app-single-ad></app-single-ad>
    </div>
</div>
