
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-blue">
      <a class="navbar-brand" href="#"><img src="./assets/img/ma-logo-100.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
              routerLink="/ads" 
              data-bs-toggle="collapse" 
              data-bs-target=".navbar-collapse.show">ADS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
              routerLink="/rental" 
              data-bs-toggle="collapse" 
              data-bs-target=".navbar-collapse.show">RENTAL</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              RESOURCES
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" 
                 routerLink="/resources/stopovers" 
                 data-bs-toggle="collapse" 
                 data-bs-target=".navbar-collapse.show">STOPOVERS</a>
              <a class="dropdown-item" 
                 routerLink="/resources/shops" 
                 data-bs-toggle="collapse" 
                 data-bs-target=".navbar-collapse.show">SHOPS</a>
              <a class="dropdown-item" 
                 routerLink="/resources/events"
                 data-bs-toggle="collapse" 
                 data-bs-target=".navbar-collapse.show">EVENTS</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
               routerLink="/blog" 
               data-bs-toggle="collapse" 
               data-bs-target=".navbar-collapse.show">BLOG</a>
          </li>
          <li *ngIf="showMemberZoneMenu" class="nav-item active">
            <a class="nav-link border-blue member-zone">Members &nbsp; &#8594;</a>
          </li>

            <li *ngIf="showMemberZoneMenu" class="nav-item active">
              <a class="nav-link" 
                 routerLink="/members/profile" 
                 data-bs-toggle="collapse" 
                 data-bs-target=".navbar-collapse.show">PROFILE</a>
            </li>
            <li *ngIf="showMemberZoneMenu" class="nav-item">
              <a class="nav-link"
                 routerLink="/members/ads"
                 data-bs-toggle="collapse" 
                 data-bs-target=".navbar-collapse.show">ADS</a>
            </li>
            <li *ngIf="showMemberZoneMenu" class="nav-item">
              <a class="nav-link" 
                 routerLink="/members/match"
                 data-bs-toggle="collapse" 
                 data-bs-target=".navbar-collapse.show">MATCH</a>
            </li>

        </ul> 
        <div class="my-2 my-lg-0 justify-self-end pe-lg-4 media-xl">
           
            <a class="nav-link logoutlink border-blue-bottom" 
               (click)="logout()"
               data-bs-toggle="collapse" 
               data-bs-target=".navbar-collapse.show"
               *ngIf="showMemberZoneMenu">Logout</a>
          
          <a style="margin-right: 10px;" 
                  class="loginlink my-2 my-sm-0" 
                  data-toggle="modal" 
                  data-target="#signInForm"
                  (click)="openLogInModal()"
                  data-bs-toggle="collapse" 
                  data-bs-target=".navbar-collapse.show"
                  *ngIf="notLogged">Log in</a>
          <button class="btn btn-menu my-2 my-sm-0 font-montserrat"
                  style="padding: 4px;"
                  [routerLink]="['./auth/register']"
                  data-bs-toggle="collapse" 
                  data-bs-target=".navbar-collapse.show"
                  *ngIf="notLogged">Register</button>
        </div>
      </div>  
    </nav>
