<div class="container-lg">
    <div class="col-12 margin-top-nav text-center border-info">
        <h2>Welcome {{memberInfo.fName}}</h2>
        <hr style="color: #B35B46">
    </div>
    <div class="row">
    <div class="col-12 col-md-6">
        <p><b>DETAILS</b></p>
        <p>First Name: {{memberInfo.fName}}</p>
        <p>Last Name: {{memberInfo.lName}}</p>
        <p>eMail: {{memberInfo.email}}</p>
        <p>You live in: {{memberInfo.location}}</p>
        <p>Age: {{memberInfo.age}}</p>
        <p>Gender: {{memberInfo.gender}}</p>
        <p>Type of traveller: {{memberInfo.traveller}}</p>
        <p *ngIf="children">Number of kids: {{memberInfo.nChildren}}</p>
        <p *ngIf="children">Age and gender of the kids: {{memberInfo.aChildren}}</p>
        <p>Type of transport: {{memberInfo.transport}}</p>
        <p>Travel with dog:{{memberInfo.dog}}</p>
        <p>You would like these types of trips: {{memberInfo.trip}}</p>
        <p>More info about you: {{memberInfo.about}}</p>
    </div>
    <div class="col-12 col-md-6">
        <app-add-ad></app-add-ad>
    </div>
    </div>
    </div>
