<div class="container-lg">
    <div class="col-12 margin-top-nav text-center border-info">
        <h2>Welcome {{member.fName}}</h2>
        <hr style="color: #B35B46">
    </div>
    <div class="row">
    <div class="col-12 col-md-6">
        <div class="row">
            <div class="col-6">
                <p><b>DETAILS</b><i *ngIf="details" class="fa-regular fa-pen-to-square ms-3 details" (click)="showUpdateDetails()"></i></p>
            </div>
            <div class="col-6 text-end mb-2">
                <button *ngIf="updateDetails" class="btn btn-info" (click)="updateMemberDetails()">Save updated details</button>
            </div>
        
        </div>
        <div  *ngIf="details" class="grid-container"> 
            <div><p>First Name:</p></div>
            <div><p>{{member.fName}}</p></div>
            <div><p>Last Name:</p></div>
            <div><p>{{member.lName}}</p></div>
            <div><p>email:</p></div>
            <div><p>{{member.email}}</p></div>
            <div><p>Location:</p></div>
            <div><p>{{member.location}}</p></div>
            <div><p>Age:</p></div>
            <div><p>{{member.age}}</p></div>
            <div><p>Gender:</p></div>
            <div><p>{{member.gender}}</p></div>
            <div><p>Type of traveller:</p></div>
            <div><p>{{member.traveller}}</p></div>
            <div *ngIf="children"><p>Number of kids:</p></div>
            <div *ngIf="children"><p>{{member.nChildren}}</p></div>
            <div *ngIf="children"><p>Age and gender of the kids: </p></div>
            <div *ngIf="children"><p>{{member.aChildren}}</p></div>
            <div><p>Type of transport: </p></div>
            <div><p>{{member.transport}}</p></div>
            <div><p>Travel with dog: </p></div>
            <div><p>{{member.dog}}</p></div>
            <div><p>Types of trips: </p></div>
            <div><p>{{member.trip}}</p></div>
            <div><p>More info about you: </p></div>
            <div><p>{{member.about}}</p></div>
        </div>
        <form method="POST" 
              id="registrationFormId"
              (ngSubmit)="updateMemberDetails()" 
              [formGroup]="updateMemberDetailsForm">
            <div class="grid-container"
                *ngIf="updateDetails"> 
                <div><p>First Name:</p></div>
                <div><p><input class="form-control" type="text" formControlName="fName"> </p></div>
                <div><p>Last Name:</p></div>
                <div><p><input class="form-control" type="text"       formControlName="lName"></p></div>
                <div><p>email:</p></div>
                <div><p>{{member.email}}</p></div>
                <div><p>Location:</p></div>
                <div><p><select class="form-control"
                                type="text" 
                                formControlName="location"
                                (change)="changeValue($event,location)">
                        <option *ngFor="let location of locationList" [ngValue]="location">{{location}}</option>
                        </select></p></div>
                <div><p>Age:</p></div>
                <div><p><select class="form-control"    
                                formControlName="age"
                                (change)="changeValue($event,age);removeOptionPosition('age')">
                        <option *ngFor="let age of ageList" [ngValue]="age">{{age}}</option>
                        </select></p></div>
                <div><p>Gender:</p></div>
                <div><p><select class="form-control"    
                                formControlName="gender"
                                (change)="changeValue($event,gender);removeOptionPosition('gender')">>
                        <option *ngFor="let gender of genderList" [ngValue]="gender">{{gender}}</option>
                        </select></p></div>
                <div><p>Type of traveller:</p></div>
                <div><p><select class="form-control"    
                                formControlName="traveller"
                                (change)="changeValue($event,traveller); showKidsInfo($event);removeOptionPosition('traveller')">
                        <option *ngFor="let traveller of travellerList" [ngValue]="traveller">{{traveller}}</option>
                        </select></p></div>
                <div *ngIf="children"><p>Number of kids:</p></div>
                <div *ngIf="children"><p><input class="form-control" 
                                                type="number"
                                                formControlName="nChildren"></p></div>
                <div *ngIf="children"><p>Age and gender of the kids: </p></div>
                <div *ngIf="children"><p><input class="form-control" 
                                                type="text"
                                                formControlName="aChildren"></p></div>
                <div><p>Type of transport: </p></div>
                <div><p><select class="form-control"    
                                formControlName="transport"
                                (change)="changeValue($event,transport);removeOptionPosition('transport')">
                        <option *ngFor="let transport of transportList" [ngValue]="transport">{{transport}}</option>
                        </select></p></div>
                <div><p>Travel with dog: </p></div>
                <div><p><input class="form-check-input" 
                               type="radio" 
                               formControlName="dog" 
                               value="yes"
                               id="dogYes">
                        <label class="form-check-label ps-1" 
                               for="dogYes"> Yes</label>

                        <input class="form-check-input ms-3" 
                               type="radio" 
                               formControlName="dog" 
                               value="no"
                               id="dogNo">
                        <label class="form-cjeck-label ps-1" 
                               for="dogNo"> No</label></p></div>
                <div><p>Types of trips: </p></div>
                <div><p *ngFor="let trip of tripList">
                    <label>
                    <input class="ps-1" type="checkbox" [value]="trip.name" (change)="changeTrip($event)" />
                    {{trip.name}}
                    </label>
                    </p></div>
                <div><p>More info about you: </p></div>
                <div><p><textarea class="form-control"
                                  formControlName="about" 
                                  rows="5" 
                                  cols="100">
                        </textarea></p></div>
            </div>
        </form>
        
    </div>
    <div class="col-12 col-md-6">
        <app-add-ad></app-add-ad>
    </div>
    </div>
    </div>