<div class="container-lg">
    <div class="col-12 margin-top-nav text-center border-info">
        <h2>Welcome {{member.fName}}</h2>
        <hr style="color: #B35B46">
    </div>
    <div class="row">
    <div class="col-12 col-md-6">
        <p><b>DETAILS</b></p>
        <div class="grid-container"> 
            <div><p>First Name:</p></div>
            <div><p>{{member.fName}}</p></div>
            <div><p>Last Name:</p></div>
            <div><p>{{member.lName}}</p></div>
            <div><p>email:</p></div>
            <div><p>{{member.email}}</p></div>
            <div><p>Location:</p></div>
            <div><p>{{member.location}}</p></div>
            <div><p>Age:</p></div>
            <div><p>{{member.age}}</p></div>
            <div><p>Gender:</p></div>
            <div><p>{{member.gender}}</p></div>
            <div><p>Type of traveller:</p></div>
            <div><p>{{member.traveller}}</p></div>
            <div *ngIf="children"><p>Number of kids:</p></div>
            <div *ngIf="children"><p>{{member.nChildren}}</p></div>
            <div *ngIf="children"><p>Age and gender of the kids: </p></div>
            <div *ngIf="children"><p>{{member.aChildren}}</p></div>
            <div><p>Type of transport: </p></div>
            <div><p>{{member.transport}}</p></div>
            <div><p>Travel with dog: </p></div>
            <div><p>{{member.dog}}</p></div>
            <div><p>Types of trips: </p></div>
            <div><p>{{member.trip}}</p></div>
            <div><p>More info about you: </p></div>
            <div><p>{{member.about}}</p></div>
            </div>
        
        
    </div>
    <div class="col-12 col-md-6">
        <app-add-ad></app-add-ad>
    </div>
    </div>
    </div>
