*{
	box-sizing: border-box;
    }
/*Fonts*/
/* @font-face {
    font-family: veganFont;
    src: url(font\VeganStyleFont.ttf);
 } */
h1, h2, h3, h4, h5, h6{
    font-family: "Gloria Hallelujah";
    color: #282623;
}
p, li, label{
    font-family: "Montserrat";
    color: #282623;
}
h1{
    text-align: center;
    padding: 10px;
}
/*buttons*/
.btn-menu{
    color: #fff!important;
    border-color: #fff!important;
}

.btn-menu:hover {
  color: #fff;
  background-color: #B35B46;
  border-color: #B35B46;
}

.btn-outline-primary{
  color:#000D32!important;
  border-color: #000D32!important;
}

.btn-outline-primary:hover{
  color:#fff!important;
  background-color: #000D32!important;
}

.btn-outline-info{
  color:#B35B46!important;
  border-color: #B35B46!important;
}
.btn-outline-info:hover{
  color: #fff!important;
  background-color: #B35B46!important;
}

.btn-info{
  color: #fff!important;
  background-color: #B35B46!important;
  border-color: #B35B46!important;
}

.btn-info:hover{
  color: #000D32!important;
}

.border-info{
  border-color: #B35B46!important;
}
.bg-blue{
  background-color: #000D32;
}

.margin-top-nav{
  margin-top: 100px;
}

.center {
  display: block;
  margin:auto;
  padding:100px 0;
  width: 50%;
}