<footer class="row mt-3 px-5 py-3 me-0 bg-blue justify-content-center">
    <div class="col-12 pb-2 pb-sm-0 text-center">
      <!-- <h4>Motorhome Adventure</h4> -->
      <ul>
        <li><a href="#">HOME</a></li>
        <li><a routerLink="/rental">RENTAL</a></li>
        <li><a href="#">RESOURCES</a></li>
        <li><a href="#">BLOG</a></li>
        <li><a href="#">ABOUT</a></li>
      </ul>
    </div>
    <div class="col-12 pb-2 pb-sm-0 text-center">
      <h4 class="pb-2">Join our community</h4>
      <!-- <button class="btn btn-menu mx-2"
              routerLink="./auth/register">Register here</button>
      <button class="btn btn-menu mx-2"
              (click)="openLogInModal()">Sign in</button> -->
    </div>
    <div class="col-12">
      <img class="img-fluid" src="./assets/img/ma-white-line-long.svg" alt="" width="" height="">
    </div>
    <div class="col-12">
      <p class="my-0 text-center">&copy; 2022 mirdesign.es All rights reserved.</p>
      <p class="my-0 text-center"><a href="#"> Terms and conditions</a></p>
    </div>
  </footer>